.container {
  width: 600px;
  height: auto;
  margin: 10% auto;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 100px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.17);
}
.checkboox {
  display: flex;
  align-items: center;
}
.checkButton {
  margin: 20px 10px;
}
.form-group {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.form-group input {
  font-size: 16px;
  font-family: arial;
  font-weight: 500;
  padding: 10px;
  margin: 5px;
  border: none;
  background: white;
  border-radius: 5px;
  width: 100%;
}
.checkboox h6 {
  font-size: 16px;
  font-family: arial;
}
button.btn.btn-primary.mb-2 {
  padding: 15px 50px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
